html{
    width: 75%;
    align-self: center;
    margin: auto;
    background-color: white;
    height: 125%;
}
body{
    background-color:rgb(207, 207, 207);
    text-align: left;
}
header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: sans-serif;
    color: black;
}
h1{
    text-align: left;
    height: 11%;
    width: 45%;
    font-size: 50px;
    display: inline-block;
    padding: 2%;
}
h3{
    font-size: 20px;
}
p{
    font-size: 15px;
}
main{
    background-color: white;
}
footer{
    background-color: gray;
    width: max-content;
    display: block;
    position: absolute;
}
nav{
    background-color:rgb(133, 191, 70);
    height: 5%;
    width: 100%;
}
li{
    display: inline;
    padding:3%;
}
ul{
    padding: 1.5%;
    display: block;
}
#Logo{
    inline-size: auto;
    display: inline-block;
    width:40%;
    height: 20%;
    float: right;
    padding: 1%;
}
#CopyRight{
    float: right;
}


html{
    width: 50%;
    align-self: center;
    margin: auto;
    background-color: white;
}
body {
    background-color:rgb(207, 207, 207);
}
header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1 {
    color: black;
    text-align: left;
    height: 11%;
    width: 45%;
    font-size: 50px;
    display: inline-block;
    padding: 2%;
}
nav{
    background-color:rgb(133, 191, 70);
    height: 5%;
    width: 100%;
}
li{
    display: inline;
    padding:3%;
}

ul{
    padding: 1.5%;
    display: block;
}


#Logo{
    inline-size: auto;
    display: inline-block;
    width:40%;
    height: 20%;
    float: right;
    padding: 1%;
}
#TextArea{

}
#CopyRight{
    float: right;
}

footer{
    display: block;
    padding-top: 60%;
}
#WeekDay{
    display: block;
    background-color: aquamarine;
    width: 10px;
    height: 10px;
}