html{height: 1000px;}
body{
    background-color:rgb(207, 207, 207)!important;
}
header{
    background-color: rgb(207, 207, 207);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    height: 175px;
}
#headerText{
    font-size: 80px;
    display: inline;

}
#Logo{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 10px;
    display: inline;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: sans-serif;
    color: black;
}
h1{
    font-size: 50px;
    display: inline;
}
h3{
    font-size: 25px;
}
p{
    font-size:20px;
}
main{
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}
aside{
    border-radius: 10px;
    margin: 5px;
}
footer{
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}
/*Left Side*/
#leftHandSide{
    width:70% ;
    float: left;
    background-color: white;
    border-radius: 10px;
    height: 600px;
    margin: 5px;
    margin-left: 5px;
    margin-top: 25px;
}

/*right Side*/
#rightHandSide{
    width: 28%;
    float: right;
    background-color: white;
    height: 600px;
    margin-right: 5px;
    margin-top: 25px;
    border-radius: 10px;
}

#twitter{
    text-align: center;
    font-size: 30px;
}
.twitter-timeline{
    margin-left: 15%;
}

/*Nav bar Css*/
nav{
    background-color:rgb(133, 191, 70) ;
    margin-bottom:2% ;
}
nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
nav li{
    border: 2px;
    background-color:rgb(133, 191, 70) ;
    list-style-type: none;
    float: left;
    padding: 16px;
    height: 60px;
    /*Change the width as add more pages so it fits*/
    width: 14.25%;
    border: 2px solid rgb(120, 180, 60);
}
nav li a{
    color: white;
    text-align: center;
    text-decoration: none;
    
    
}
nav li:hover{
    background-color: darkgreen;
}
.active{
    background-color: darkgreen;
}
/*Event Calendar css*/
#fillerText{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin-left:25%;
}
table{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 95%;
    height: 500px;
    margin-left: 2.5%;
    margin-top: 2%;

}
table td,table th{
    border: 2px solid black
    
}
td{
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 10pt;
}
table tr:nth-child(even){
    background-color:F0F0F0;
}
table tr:hover{
    background-color: darkgreen;
    color: white;
}
table th{
    background-color:rgb(133, 191, 70);
    color: white;
}
/*Carousel Css*/
.w-100{
    height: 700px;
}
.ImageText {
    color:white;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
}
/*Grid Layout Images*/
.Gallery-img{
    width: 100%;
    height: 300px;
}
#img-Galery{
    padding-top: 10px;
}
#img-Galery .row{
    margin-bottom: 10px;
    width: auto;
    height: auto;
}
#CenterText{
    margin-left : 45px;
}
#whiteImgBorder{
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
}
#loginSection{
    float: right;
    margin-top: 5%;
}
#loginButton{
    width: 100px;
    height: 50px;
}
#textFeild{
    width: 250px;
    height: 50px;
}
#weekday{
    text-align: center;
}
#weekNum{
    text-align: center;
}
#suggestions{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
/*MIXOLOGY*/
#OurFavorites{
    width: 25%;
    height:850px;
    background-color: white;
    border-radius: 10px;
    float: left;
    border: 0;
    padding: 0;
}   
#OurFavorites h2{
    text-align: center;
}
#Row{
    padding: 0;
    padding-top: 10px;
}
#TopMenu button{
    width: 100%;
    height: 75px;
    border-radius: 10px;
    background-color: rgb(133, 191, 70);
}
#TopMenu{
    float: left;
    padding: 25px;
    width: 33.333%;
}

#CocktailMenu{
    float: right;
    width: 74%;
    height: 850px;
    border-radius: 10px;
    background-color: white;
}
#CockTailButton{
    width: 40%;
    height:200px ;
    margin-left: 5%;
}
#CocktailPic{
    width: 100%;
    height: 100px;
}
ul{
    list-style-type:none ;
}
.DropDown-Content{
    background-color:rgb(207, 207, 207);
    width: 250px;
    height: 220px;
    border-radius: 10px;
    float: left;
}
.DropDown-Content ul{
    display: inline-block;
}
.DropDown-Content li{
    height: 25px;
    width: 250px;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 20px;

}
input[type=checkbox]{
    width: 30px;
    height: 20px;
}
.DropDown-Content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  /*The Cocktail Cards*/
  .Hidden{
    display: none;
    position: absolute;
    background-color:rgb(207, 207, 207);
    width: 55%;
    border: 1px solid black;
    z-index: 0;
    border-radius: 10px;
    height: 690px;
    margin-left: 10%;
  }
  .Hidden h1{
    padding-left: 30%;
  }
  .Hidden img{
    padding-top: 50px;
    width :90%; 
    height :400px;
    padding-left: 10%;
  }
  #Ingredients{
    float: left;
    padding-left: 5%;
  }
  #Steps{
    float: right;
    padding-left: 10%;
}
  #cocktailPics{
    width: 100%;
    height: 650px;
    background-color: white;
    margin-top: 150px;
  }
.Scroll{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
#close{
    float: right;
    margin: 15px;
    width: 45px;
    height: 45px;
    font-size: 30px;
}

.show{display: block;}

#AllCokctails{
    width: 25%;
    height:200px ;
    margin-left: 5%;
    margin-top: 25px;
}
#AllCokctails img{
    width: 70%;
    height: 160px;
}

/*Quiz Page Goes Here*/

#picGuess{
    width:40% ;
    float: left;
    background-color: white;
    border-radius: 10px;
    height: 95%;
    margin: 5px;
    margin-left: 5%;
    margin-top: 25px;
    border: solid grey 2px;
    text-align: center;
}
#picGuess img{
    width: 70%;
    height: 75%;
    padding-top: 20px;
}

/*quiz*/
#start{
    width: 100%;
    height: 100%;
}
#quiz{
    width: 100%;
    height: 100%;
}
#results{
    width: 100%;
    height: 100%;
}
.hide{
    display: none;
}





#picGuess button{
    width: 60%;
    height: 10%;
    border-radius: 10px;
}





#brandGuess{
    width: 40%;
    float: right;
    background-color: white;
    height: 95%;
    margin-right: 5%;
    margin-top: 25px;
    border-radius: 10px;
    border: solid grey 2px;
    text-align: center;
}
#brandGuess img{
    width: 70%;
    height: 75%;
    padding-top: 20px;
}
#brandGuess button{
    width: 60%;
    height: 10%;
    border-radius: 10px;
}


#fit{
    height: 800px;
    width: 100%;
}
